/* Ce fichier css permet de styliser toutes les pages du projet */

/* Eléments principaux */

body {
	overflow-x: hidden;
	padding: 0;
	background: black;
	font-family: Poppins, Arial, sans-serif;
	width: 1100px;
    margin: auto;
    color: white;
}

/* Header */

header { 
	/* La barre de navigation reste en haut de l'écran lorque la page défile */
	position: sticky;
	padding-top: 5px;
	padding-bottom: 5px;
	top: -5px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid white;
}

#logo img {
    width: 90px;
    height: 90px;
}

#logo h1 {
	margin: 0 0 0 10px;
	display: flex;
}

#titre {
	font-size: 1.3em;
	padding-top: 15px;
	text-decoration: none;
	color: ghostwhite;
}

#titre:hover, #titre:focus {
	/* Quand la souris survole le titre ou que le titre est sélectionné (avec tab) */
	position: relative;
	left: 2px;
	top: 2px;
	color: orangered;
	border-bottom: none;
}

#titre:active {
	/* Quand la souris est enfoncée/quand on clique sur le titre */
	color: orangered;
	top: 4px;
	left:  4px;
	border-bottom: none;
}

/* Navigation */

nav {
	align-items: center;
	height: 80px;
	list-style: none; /* Enlève les points en face des li de la liste */
	display: flex;
	justify-content: space-around;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 20px;
	margin: 10px;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.2em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover, a:focus {
	color: orangered;
	border-bottom: 1px solid orangered;
}

/* Corps de la page */

section h1, footer h1 {
	font-weight: 500;
	font-size: 1.3em;
	text-transform: uppercase;
	font-family: Sumana, sans-serif;
}

section {
	display: flex;
	align-items: stretch;
}

article {
	margin-left: 10px;
	text-align: justify;
	padding-right: 20px;
}

mark {
	background: none;
	color: orangered;
	font-weight: bold;
}

strong {
	font-weight: normal;
	color: orangered;
}

.external {
	text-decoration: none;
	color: #2196f3;
}

.external:hover, .external:active, .external:focus {
	color: #6ec6ff;
	background-color: #111;
	border-radius: 3px;
	border-bottom: none;
}


/* Accueil */

iframe {
	opacity: 0.95;
	z-index: 2;
}

ul {
	list-style: none;
	padding-left: 0;
}


/* Description */

#figures {
	display: flex;
	justify-content: space-around;
}

figcaption {
	color: white;
	background-color: rgba(22,22,22,0.7);
	text-align: center;
}

/* Role */

.code {
	font-family: consolas;
	background-color: #222;
	border-radius: 2px;
	border: 1px solid #555;
}


/* Membres */

table {
	text-align: center;
}

table td, table th {
	width: 150px;
	height: 100px;
}

table *.row1 {
	width: 400px;
}

th {
	color: orangered;
}

tr img {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}

/* Explication */

h3 {
	color: orangered;
}

/* Pied de page */

footer {
	margin-top: 30px;
	height: auto;
	overflow-y: auto;
	border-top: 1px solid white;
	padding-left: 5px;
}

@media all and (max-width: 1024px)
{
    /* Réorganisation pour téléphone */
    
    body {
        width: auto;
    }
    
    /* En-tête */
    
    header {
        flex-direction: column;
        align-items: flex-start;
        position: static;
    }
    
    #logo img {
        width: 120px;
        height: 120px;
    }
    
    #titre {
        font-size: 2.5em;
    }
    
    nav ul {
        font-size: 1.8em; 
    }
    
    /* Corps */
    
    section {
        flex-direction: column;
    }
    
    #figures {
        flex-direction: column;
        align-items: center;
    }
    
    figcaption {
        font-size: 1.5em;
    }

    table {
    	margin-left: 20%;
    }

    table *.row1 {
    	width: 150px;
    }

    tr img {
    	width: 70px;
    	height: 70px;
    }
    
    /* Pied de page */
    
    footer {
        font-size: 1.3em;
        margin-bottom: 20px;
    }
}